
.Banner-container {
  /* border: 5px solid black; */
  /* text-align: center; */
  /* font-size: 10em; */
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: -15px;
  
  margin-top: 10vh;
  margin-bottom: 50vh;
}

#Banner-text {
  font-size: calc(100% + 10vw + 10vh);
}

#banner-bio {
  border-bottom: 2px solid #323232;
}

span {
  font-size: 20px;
  letter-spacing: 15px;
}
/* 
hidden-text {
  color: rgba(0, 0, 0, 0.0);
  font-size: 5rem;
  letter-spacing: normal;
  transition: 2s;
}

Banner-container:hover #hidden-text {
  font-size: 5rem;
  display: inline;
  color: rgba(0, 0, 0);
  transition: 2.5s;
} */