#Bio-about-me {
  font-size: .5em;
  /*  */
  margin-bottom: 25vh;
}

li {
  list-style: none;
  font-size: calc(100% + 1vw + 1vh);
  margin-top: 1%;
  border-left: solid;
  padding: 0px;
  padding-left: 1%;
}

@media (max-width: 544px) {
  li {
    margin-top: 2%;
    border-left: solid;
    padding: 0px;
    padding-left: 1%;
  }
}
