.Nav-navbar {
    /* font-family: 'Roboto Condensed', sans-serif; */
      /* text-transform: uppercase; */
  flex-direction: column;
  margin-top: 40vh;
  position: fixed;
}

.Nav-sidebar {
  border-bottom: 2px solid #323232;;
  display: flex;
  justify-content: center;
}

.Nav-font {
  color: black;
  text-decoration: none;
  transition: 8s;
  color: white;

}
