.Nav-navbar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40vh;
  position: fixed;
}

.Nav-sidebar {
  border-bottom: 2px solid #323232;
  display: flex;
  justify-content: center;
}

.Nav-font {
  text-decoration: none;
  color: white;
}

.Nav-font:hover {
  transition: .25s;
  color: #323232;
}