.imgCard {
  padding-top: 5rem;
  
  text-align: center;
  user-select: "text";
}

.caption{
  position: initial;
  color: black;
}

img {
  width: 450px;
  height: 650px;
  border: thick double #011016;
}

#portfolio-container{
  /* position: static; */
  /* margin-top: 4.3%; */
  /* margin-bottom: 10%; */
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 50%;
}

.details-font {
  font-size: 1.25rem;
}

.col {
  align-self: center;
  text-align: start;

}

a {
 /* text-decoration: none; */
 color: #011016;
}