.imgCard {
  padding-top: 2.5rem;

  text-align: center;
  user-select: "text";
}

.caption {
  position: initial;
  color: black;
}

img {
  width: auto;
  height: 650px;
  border: thick double #011016;
  object-fit: contain;
}

.portfolio-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 50%;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0;
}

.details-font {
  font-size: 1.25rem;
}

.col {
  align-self: center;
  text-align: start;

}

a {
  color: #011016;
}