.Portfolio-Header-bar {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: inherit;
  text-align: center;
  letter-spacing: 1.5em;
  text-transform: uppercase;
  padding-top: .625rem;
  
  font-weight: 400;
}